/* Body styles */
body{
    display: flex;
    height: 100Vh;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
  
  .register-container {
    /* background: #07b57b; */
    backdrop-filter:  blur(20px);
    padding: 32px 28px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    width: 340px;
  }
  
  h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 22px;
  }
  
  .input-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    font-size: 16px;
    margin-bottom: 7px;
    color: #fff;
  }
  
  .input-group input {
    padding: 5%;
    border-radius: 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2 );
  }


  
  .input-group input::placeholder {
    color: #fff;
  }

  
  button[type="submit"] {
    width: 100%;
    padding: 11px;
    font-size: 1.1em;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8px;
    transition: background 0.2s;
  }
  
  button[type="submit"]:hover {
    background: #9b9e9c;
  }
  
  #message {
    margin-top: 12px;
    color: #c0392b;
    text-align: center;
    min-height: 20px;
  }
  
  p,a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }